body {
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    max-width: 800px;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #00d4ff;
}

.section {
    margin-bottom: 30px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #00aaff;
}

.tech-links {
    list-style-type: none;
    padding: 0;
}

.tech-links li {
    margin: 40px 0;
}

.tech-links a {
    text-decoration: none;
    color: #00d4ff;
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid #00d4ff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.tech-links a:hover {
    background-color: #00d4ff;
    color: #0d0d0d;
    transform: scale(1.1);
}
