.carrousel{
    width: 90%;
    max-width: 120em;
    padding: 2em;
    @include neo(1,1em,1em);
}
.carrousel .grande{
    width: 200%;
    background-color: orange;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.carrousel .img{
    width: calc(100%/2);
    background-color: lime;
}
.carrousel .puntos{
    width: 100%;
    background-color: red;
    padding: 1em;
}
.carrousel .punto{
    width: 2em;
    height: 2em;
    background-color: blue;
    margin: 1em;
}